.pq-detail {
    padding: 2rem;
    margin-bottom: 1.2rem;
}
.pq-detail .pq-title {
    text-align: center;
    text-transform: capitalize;
    color: #5A3919;
    font-size: 25pt;
}

.pq-detail .pq-description {
    text-align: center;
    margin: 20px;
}

.pq-detail .review-header {
    margin-top: 30px;
    font-size: 30pt;
    color: gray;
}

.pq-detail .review-box {
    padding: 10px;
    margin: 10px;
    display: flex;
}

.pq-detail .review-user {
    background-color: saddlebrown;
    color: #ffff;
    padding: 13px;
    margin-right: 20px;
    border-radius: 10px;
}
